* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body, #root {
    height: 100%;
}

body {
    background-color: #121212;
}

h1 {
    color: #BDC3C7;
    font-size: clamp(1.5rem, 2vw + 1rem, 2.5rem);
    text-align: center;
    margin: 0;
    font-size: 1.5rem;
    padding-bottom: 1.5rem;
}

.taskboard {
    display: flex;
    justify-content: space-around;
    padding: 0.6rem;
    padding-top: 3rem;
    width: 100%;
}

form {
    display: flex;
    flex-direction: column;
    width: 100%; 
    margin-top: 0.5rem;
}

.taskColumnUpcoming, .taskColumnCurrent, .taskColumnComplete {
    min-width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 1rem;
    width: 30%;
    border-radius: 10px;
}

.taskColumnUpcoming {
    background-color: #8E44AD
}

.taskColumnCurrent {
    background-color: #34495E;
}

.taskColumnComplete{
    background-color: #27AE60;
}

.taskItem {
    width: 100%; 
    text-align: center;
    padding: 1rem;
    background-color: #2D3436;
    border: 1px solid #636E72; 
    color: #E0E0E0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
    border-radius: 10px;
    overflow-wrap: break-word; 
    word-break: break-all;
    position: relative;
}

#newUpcomingTaskInput, #newCurrentTaskInput {
    text-align: center;
    padding: 1rem;
    background-color: #7F8C8D;
    border-radius: 10px;
    width: 100%;
    border: none;
    font-size: 1rem;
    color: white;
    margin-bottom: 0.3rem;
    resize: vertical;
    min-height: 3rem;
}

#taskInput:focus {
    outline: none;
    background-color: #2980B9; /* Focus effect */
}

.deleteButton {
    position: absolute;
    width: 2rem;
    height: 2rem;
    border-radius: 10px;
    top: 50%; 
    left: 0.5rem; 
    transform: translateY(-50%);
    background-color: #E74C3C; 
    border: none;
    color: #E0E0E0;
    font-size: 1rem;
    cursor: pointer;
    padding: 0.5rem;
    visibility: hidden;  
    opacity: 0;          
    transition: visibility 0s, opacity 0.3s ease;
}

.completeTaskButton {
    position: absolute;
    width: 2rem;
    height: 2rem;
    border-radius: 10px;
    top: 50%; 
    right: 0.5rem; 
    transform: translateY(-50%);
    background-color: #27AE60; 
    border: none;
    color: #E0E0E0;
    font-size: 1rem;
    cursor: pointer;
    padding: 0.5rem;
    visibility: hidden;  
    opacity: 0;          
    transition: visibility 0s, opacity 0.3s ease;
}

.moveToCurrentButton {
    position: absolute;
    width: 2rem;
    height: 2rem;
    border-radius: 10px;
    top: 50%; 
    right: 0.5rem; 
    transform: translateY(-50%);
    background-color: #27AE60; 
    border: none;
    color: #E0E0E0;
    font-size: 1rem;
    cursor: pointer;
    padding: 0.5rem;
    visibility: hidden;  
    opacity: 0;          
    transition: visibility 0s, opacity 0.3s ease;
}


.addTaskButton {
    background-color: #4a90e2; 
    color: white; 
    border: none; 
    border-radius: 8px;
    padding: 0.7rem 1.5rem; 
    font-size: 1rem; 
    cursor: pointer;
    transition: background-color 0.3s ease; 
    margin-top: 0;
}

.taskItem:hover button {
    visibility: visible;
    opacity: 1;   
}

.taskItem:hover {
    background-color: #C0392B; 
}

.addTaskButton:hover {
    background-color: #357ABD;
}

#newUpcomingTaskInput, #newCurrentTaskInput:focus {
    outline: none;
}

@media (max-width: 600px) {
    .taskColumn h1 {
        font-size: 1.2rem;
    }
}
